// variables

// header.component
$header-grey: #807e7b;

// main-menu.component
$main-menu-grey: #666462;

// login.component
$login-background-color: #edebe9;
$login-input-color: #b3cccc;

// profile.component
$profile-input-color: #b3cccc;
