@import "./src/styles/variables.scss";
.header{
  padding: 8px 16px 7px 41px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: all 0.2s ease-out 0s;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #ccc8c5;
  z-index: 10;
}
.header::after{
  bottom: -5px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
  content: "";
  height: 5px;
  left: 0px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  z-index: 2700;
  width: 100%;
}
.logo{
  display: flex;
  height: 32px;
  align-items: center;
  padding: 8px;
}
.logo-logo{
  width: 32px;
  margin-right: 8px;
}
.logo-words{
  width: 120px;
}
.search{
  position: relative;
  flex:1;
}
.search-text{
  color: black;
  border: 1px solid $header-grey;
  border-radius: 3px;
  height: 32px;
  padding-left: 16px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
}
.top-nav{
  list-style-type: none;
  display: flex;
  margin: 0;
  color: $header-grey;
  &>li{
    display: inline-block;
  }
}
.top-nav-notify{
  color: $header-grey;
  font-size: 19px;
  display: inline-block;
  min-width: 50px;
  text-align: center;
}
.search-inner{
  position: relative;
}
.search-hepler{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  height: 100%;
  text-align: center;
  line-height: 3;
  cursor: pointer;
  width: 32px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $header-grey;
}
.app-shortcuts{
  margin: 0;
}
.app-shortcuts-item{
  padding: 10px 0;
  text-align: center;
  &:hover{
    text-decoration: none;
    .fa{
      background-color: rgba(0,0,0,.06);
    }
  }
  .fa{
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    color: black;
    border-radius: 50%;
  }
  span{
    display: block;
    font-size: 13px;
    color: black;
  }
}
.dropdown-menu--block{
  width: 320px;
}
.show{
  display: block !important;
}
.user-img{
  width: 32px;
  height: 32px;
  border: 1px solid $header-grey;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-item{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
}
#apps-dropdown-menu-right{
  margin-left: -210px;
}
#settings-dropdown-menu-right{
  margin-left: -123px
}
#user-dropdown-menu-right{
  margin-left: -126px
}
