<div class="main-menu" [ngClass]="{'open': open}" *ngIf="router.url !== '/login'">
  <div class="sandwich" (click)="shareDate()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div>
    <a href="" class="menu-item">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span>Dashboard</span>
    </a>
    <a href="" class="menu-item" routerLink="/login" (click)="shareHideMenu">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <span>Login</span>
    </a>
    <a href="" class="menu-item" routerLink="/profile">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span>Profile page</span>
    </a>
  </div>
</div>

